<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="app">
	<head>
		<title>Catstagram | A Catnip Company</title>
		<!-- Favicon -->
		<link href="http://lofrev.net/wp-content/photos/2014/09/Cat-logo-876x1024.gif" rel="shortcut icon" type="image/x-icon">
		<!-- CSS -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
		<link rel="stylesheet", href="/assets/css/style.css">
		<!-- Application Base -->
		<base href="/">	
	</head>
	<body id="body" ng-cloak>
		<!-- Top Level Component -->
		<core-app></core-app>
		<!-- Angular Libraries -->
		<script type="text/javascript" src="/assets/js/angular/angular.js"></script>
		<script type="text/javascript" src="/assets/js/angular-sanitize/angular-sanitize.js"></script>
		<script type="text/javascript" src="/assets/js/angular-resource/angular-resource.js"></script>
		<script type="text/javascript" src="/assets/js/angular-touch/angular-touch.js"></script>
		<script type="text/javascript" src="/assets/js/angular-component-router/angular-component-router.js"></script>
		<!-- Bootstrap Applicaton -->
		<script type="text/javascript" src="/application.js"></script>	
	</body>
</html>